@model IEnumerable<Product>

<body>
	<div class="container-xl">
		<div class="table-responsive">
			<div class="table-wrapper">
				<div class="table-title">
					<div class="row">
						<div class="col-sm-6">
							<h2>Manage <b>Products</b></h2>
						</div>
						<div class="col-sm-6">
							<a asp-action="Add" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Product</span></a>
						</div>
					</div>
				</div>
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>@Html.DisplayNameFor(model => model.Id)</th>
							<th>@Html.DisplayNameFor(model => model.Name)</th>
							<th>@Html.DisplayNameFor(model => model.BasePrice)</th>
							<th>@Html.DisplayNameFor(model => model.ServicePrice)</th>
							<th>@Html.DisplayNameFor(model => model.IsAvailable)</th>
							<th>@Html.DisplayNameFor(model => model.Description)</th>
							<th>@Html.DisplayNameFor(model => model.Brand)</th>
							<th>@Html.DisplayNameFor(model => model.ImageURL)</th>
							<th>@Html.DisplayNameFor(model => model.AddDate)</th>
							<th>@Html.DisplayNameFor(model => model.ChangeDate)</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						@foreach(var product in Model)
						{
							<tr>
								<td>@product.Id</td>
								<td>@product.Name</td>
								<td>@product.BasePrice</td>
								<td>@product.ServicePrice</td>
								<td>@product.IsAvailable</td>
								<td>@product.Description</td>
								<td>@product.Brand</td>
								<td>@product.ImageURL</td>
								<td>@product.AddDate</td>
								<td>@product.ChangeDate</td>
								<td>
									<a asp-action="Edit" asp-route-productId="@product.Id" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
									<a asp-action="Delete" asp-route-productId="@product.Id" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
								</td>
							</tr>
						}
					</tbody>
				</table>
				<div class="clearfix">
					<div class="hint-text">Showing <b>@Model.Count()</b> entries</div>
					<ul class="pagination">
						@if (ViewBag.Page > 1)
						{
							<li class="page-item"><a asp-action="Dashboard" asp-controller="Admin" asp-route-page="@(ViewBag.Page - 1)">Previous</a></li>
						}
						@if (ViewBag.Page < ViewBag.TotalPages)
						{
							<li class="page-item"><a class="page-link" asp-action="Dashboard" asp-controller="Admin" asp-route-page="@(ViewBag.Page + 1)">Next</a></li>
						}
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>